nextflow.enable.dsl = 2

manifest {
    name        = 'TrESFlow'
    description = 'Thin Nextflow DSL2 wrappers for the upstream TrES source scripts'
    version     = '0.1.0'
}

params {
    outdir       = "${projectDir}/results"
    samplesheet  = null
    upstream_dir = "${projectDir}/upstream/source_scripts"
}

profiles {
    standard {
        includeConfig 'conf/base.config'
    }
    test {
        includeConfig 'conf/base.config'
        includeConfig 'conf/test.config'
    }
    conda_dev {
        includeConfig 'conf/conda_dev.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
}
