params {
    samplesheet                 = "${projectDir}/assets/samplesheet.example.yaml"
    outdir                      = "${projectDir}/results/test"
    max_cpus                    = 4
}

process {
    withName: TAG_RNA_SAMPLE_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_DNA_SAMPLE_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_RNA_UMI {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_DNA_MODALITY_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_RNA_CELL_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_DNA_CELL_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TRIM_RNA_FASTQS {
        ext.mock = true
    }

    withName: TRIM_DNA_FASTQS {
        ext.mock = true
    }

    withName: SPLIT_RNA_READS {
        ext.mock = true
    }

    withName: SPLIT_DNA_READS {
        ext.mock = true
    }

    withName: FQ_TO_SAM {
        ext.mock = true
    }

    withName: RNA_STARSOLO_ALIGN {
        ext.mock = true
        cpus = 1
    }

    withName: RNA_FILTERED_BAM {
        ext.mock = true
        cpus = 1
    }

    withName: RNA_COVERAGE {
        ext.mock = true
        cpus = 1
    }

    withName: ALIGN_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: MARK_DUPLICATES_DNA {
        ext.mock = true
    }

    withName: SPLIT_DUPLICATES_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: BAM_COVERAGE_DNA {
        ext.mock = true
        cpus = 1
    }

}
