params {
    samplesheet               = "${projectDir}/assets/samplesheet.multiome.example.yaml"
    outdir                    = "${projectDir}/results/test_multiome"
    stage_sc_process_inputs   = true
    run_sc_process            = false
}

process {
    withName: RUN_SC_PROCESS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
}
