params {
    samplesheet               = "${projectDir}/assets/samplesheet.dna.example.yaml"
    outdir                    = "${projectDir}/results/test_dna"
    dna_bwa_reference         = "${projectDir}/assets/testdata/mock_dna_align_ref/hg38.fa"
    dna_blacklist_bed         = "${projectDir}/assets/testdata/mock_dna_blacklist.bed"
    dna_effective_genome_size = 2913022398
    max_cpus                  = 4
}

process {
    withName: TAG_DNA_SAMPLE_BARCODE {
        ext.mock = true
    }

    withName: TAG_DNA_MODALITY_BARCODE {
        ext.mock = true
    }

    withName: TAG_DNA_CELL_BARCODE {
        ext.mock = true
    }

    withName: TRIM_DNA_FASTQS {
        ext.mock = true
    }

    withName: SPLIT_DNA_READS {
        ext.mock = true
    }

    withName: ALIGN_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: MARK_DUPLICATES_DNA {
        ext.mock = true
        cpus = 1
    }
}
