params {
    samplesheet               = "${projectDir}/assets/samplesheet.multiome.example.yaml"
    outdir                    = "${projectDir}/results/test_multiome"
    rna_ref_base_dir          = "${projectDir}/assets/testdata/mock_align_ref_base"
    rna_align_species         = 'human'
    dna_bwa_reference         = "${projectDir}/assets/testdata/mock_dna_align_ref/hg38.fa"
    dna_blacklist_bed         = "${projectDir}/assets/testdata/mock_dna_blacklist.bed"
    dna_effective_genome_size = 2913022398
    stage_sc_process_inputs   = true
    run_sc_process            = false
    max_cpus                  = 4
}

process {
    withName: TAG_RNA_SAMPLE_BARCODE {
        ext.mock = true
    }

    withName: TAG_RNA_UMI {
        ext.mock = true
    }

    withName: TAG_RNA_CELL_BARCODE {
        ext.mock = true
    }

    withName: TRIM_RNA_FASTQS {
        ext.mock = true
    }

    withName: SPLIT_RNA_READS {
        ext.mock = true
    }

    withName: FQ_TO_SAM {
        ext.mock = true
    }

    withName: ALIGN_RNA {
        ext.mock = true
        cpus = 1
    }

    withName: TAG_DNA_SAMPLE_BARCODE {
        ext.mock = true
    }

    withName: TAG_DNA_MODALITY_BARCODE {
        ext.mock = true
    }

    withName: TAG_DNA_CELL_BARCODE {
        ext.mock = true
    }

    withName: TRIM_DNA_FASTQS {
        ext.mock = true
    }

    withName: SPLIT_DNA_READS {
        ext.mock = true
    }

    withName: ALIGN_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: MARK_DUPLICATES_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: SPLIT_DUPLICATES_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: BAM_COVERAGE_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: RUN_SC_PROCESS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
}
