params {
    samplesheet                 = "${projectDir}/assets/samplesheet.example.yaml"
    outdir                      = "${projectDir}/results/test"
    max_cpus                    = 4
}

process {
    withName: TAG_RNA_SAMPLE_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_DNA_SAMPLE_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_RNA_UMI {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_DNA_MODALITY_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_RNA_CELL_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TAG_DNA_CELL_BARCODE {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: TRIM_RNA_FASTQS {
        ext.mock = true
    }

    withName: TRIM_DNA_FASTQS {
        ext.mock = true
    }

    withName: SPLIT_RNA_READS {
        ext.mock = true
    }

    withName: SPLIT_DNA_READS {
        ext.mock = true
    }

    withName: /COMPRESS_.*_SPLIT_FASTQS/ {
        cpus = 1
    }

    withName: FQ_TO_SAM {
        ext.mock = true
    }

    withName: RNA_STARSOLO_ALIGN {
        ext.mock = true
        cpus = 1
    }

    withName: RNA_FILTERED_BAM {
        ext.mock = true
        cpus = 1
    }

    withName: COMPRESS_RNA_FILTERED_BAM {
        ext.mock = true
        cpus = 1
    }

    withName: RNA_COVERAGE {
        ext.mock = true
        cpus = 1
    }

    withName: ALIGN_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: SPLIT_DUPLICATES_DNA {
        ext.mock = true
        cpus = 1
    }

    withName: CHECK_DNA_NODUP_BAM {
        ext.mock = true
        cpus = 1
        memory = '1 GB'
    }

    withName: DEEPTOOLS_BAMCOVERAGE {
        cpus = 1
        memory = '1 GB'
    }

    withName: SAMTOOLS_FLAGSTAT {
        ext.when = false
    }

    withName: SAMTOOLS_STATS {
        ext.when = false
    }

    withName: SAMTOOLS_IDXSTATS {
        ext.when = false
    }

    withName: SAMTOOLS_QUICKCHECK {
        ext.when = false
    }
}
