params {
    samplesheet       = "${projectDir}/assets/samplesheet.example.yaml"
    outdir            = "${projectDir}/results/test"
    rna_ref_base_dir  = "${projectDir}/assets/testdata/mock_align_ref_base"
    rna_align_species = 'human'
    max_cpus          = 4
}

process {
    withName: TAG_RNA_SAMPLE_BARCODE {
        ext.mock = true
    }

    withName: TAG_RNA_UMI {
        ext.mock = true
    }

    withName: TAG_RNA_CELL_BARCODE {
        ext.mock = true
    }

    withName: TRIM_RNA_FASTQS {
        ext.mock = true
    }

    withName: SPLIT_RNA_READS {
        ext.mock = true
    }

    withName: FQ_TO_SAM {
        ext.mock = true
    }

    withName: ALIGN_RNA {
        ext.mock = true
        cpus = 1
    }
}
